<!DOCTYPE html>
<html th:replace="~{_global :: plantilla(~{::title}, ~{::main})}" xmlns:th="http://www.thymeleaf.org">
<title>Productos</title>
<main>
	<h1 class="display-1 p-3">Productos</h1>
	
	<form th:action="@{/guardarProducto}" method="post" th:object="${producto}">
	<div class="form-group mb-3 mt-3  p-3">
		<input class="form-control" th:field="*{nombre}" placeholder="Nombre">
		<span class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>
		
		<button class="btn btn-primary" type="submit">Guardar</button>
		        <!-- Mensajes de error -->
        <div class="text-danger" th:if="${#fields.hasErrors()}">
            <p class="error-message" th:each="error : ${#fields.errors('*')}">
                <span th:text="${error}"></span>
            </p>
        </div>
	</div>
	</form>
	<h2 class="display-2 p-3">Listado de Productos</h2>
        <table class="table table-striped table-hover table-bordered table-condensed table-responsive">
            <thead>
                <tr>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                <!-- Iterar sobre la lista de productos y mostrar cada uno -->
                <tr th:each="producto : ${productos}">
                	<td th:text="${producto.id}"></td>
                    <td th:text="${producto.nombre}"></td>
                    <td><a th:href="${'borrarProducto/' + producto.id}">Borrar</a></td>
                </tr>
            </tbody>
        </table>
	
</main>
